body {
	background: #555;
	color: black;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	margin: 0 auto;
}

code {
	font-family: 'Source Code Pro';
	font-size: 0.8em;
}

header {
	width: 80%;
	margin: auto;
}

h1 {
	/* font-family: ''; */
	font-size: 4em;
	text-align: center;
	margin: 10px;
	/* color: #fff; */
}

li {
	display: inline;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	font-weight: bold;
	color: black;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

ul {
	font-size: 1em;
	border-bottom: solid black 1px;
	padding-bottom: 5px;
	margin: 1em auto;
}

#content {
	width: 90%;
	margin: auto;
}

table {
	font: 0.8em Monaco;
	margin: 0 auto;
	clear: both;
	text-align:center;
}

tr {
	display: inline-block;
	text-align: center;
	width: 15em;
	height: 15em;
	margin: .5em;
	padding: 1px;
	position: relative;
	border: solid black 1px;
	border: solid rgba(0, 0, 0, 0.3) 1px;
	-webkit-box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
			box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

tr:hover .hex, tr:hover .desc, tr:hover .rgb {
	visibility: visible;
	background: black;
	background: rgba(0, 0, 0, 0.5);
}

td {
	display: block;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	font-family: 'Raleway', sans-serif;
	color: white;
	-webkit-transition:background 1s ease-out;
       -moz-transition:background 1s ease-out;
    	 -o-transition:background 1s ease-out;
        	transition:background 1s ease-out;
}

.desc {
	visibility: hidden;
	text-align: center;
	font-size: 1.3em;
	padding: 10% 0;
}

.hex, .rgb {
	visibility: hidden;
	font-size: 1.3em;
	padding: 10% 0;
}